<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        <h1>MUSIC STORE</h1>
        <ul id="navlist">
            <li class="first">
                <a href="@Url.Content("~")" id="current">
                    Home
                </a>
            </li>
            <li><a href="@Url.Content("~/Store/")">Store</a></li>
            <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
            <li>
                <a href="@Url.Content("~/StoreManager/")">
                    Admin
                </a>
            </li>
        </ul>
    </div>
    @{Html.RenderAction("GenreMenu", "Store");}
    <div class="container body-content">
        @Html.Partial("_LoginPartial")
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        @DateTime.Now
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
